.vacancy {
  background-color: #fff;
  height: 100%;
  cursor: pointer;
  padding: 16px;
  border-radius: 16px;
}
.vacancy__img {
  max-width: 44px;
  margin-bottom: 12px;
  display: block;
}
.vacancy__name {
  font-size: 20px;
  margin-bottom: 8px;
}

.vacancy__title {
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 400;
  background: #eaecff;
  padding: 3px 5px;
  margin: 0 0 8px;
}

.vacancy__field {
  color: #ccc;
}
